html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* header */
.main-header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: url('img/bcg.jpg') center;
    background-size: cover;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 20px 25px 15px rgba(0, 0, 0, 0.6);
    margin-bottom: 20em;
}

.overlayer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
}

.btn {
    box-sizing: border-box;
    margin: 0;
    padding: 1.2em 2.2em;
    font-weight: 900;
    text-transform: uppercase;
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 10px;
    z-index: 99;
    background-color: #758184;
    position: absolute;
    bottom: 50px;
}

/* Main */
.main-header h1 {
    margin: 0;
    padding: 0;
    font-size: 5em;
    letter-spacing: 0.8em;
    margin-right: -0.8em;
    color: #f4f4f4;
    z-index: 99;
}

main {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 4.2em;
}

section img {
    width: 100%;
}

/* Footer */
footer {
    margin-top: 5em;
    background-color: #222831;
    width: 100%;
    box-sizing: border-box;
    padding: 1.4em;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

footer h4 {
    font-size: 1.3em;
}

footer ol {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: #f4f4f4;
}

footer a:visited {
    color: #f4f4f4;
}

/* media queries */

@media (max-width: 1765px) {
    .main-header h1 {
        font-size: 4.4em;
        letter-spacing: 0.6em;
        margin-right: -0.6em;
    }
}

@media (max-width: 1360px) {
    .main-header h1 {
        font-size: 4em;
        letter-spacing: 0.5em;
        margin-right: -0.5em;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-bottom: 4.2em;
    }
}

@media (max-width: 1150px) {
    .main-header h1 {
        font-size: 3.4em;
        letter-spacing: 0.4em;
        margin-right: -0.4em;
    }
}

@media (max-width: 890px) {
    .main-header h1 {
        font-size: 2.8em;
        letter-spacing: 0.3em;
        margin-right: -0.3em;
    }
}

@media (max-width: 700px) {
    .main-header h1 {
        font-size: 2.4em;
        letter-spacing: 0.2em;
        margin-right: -0.2em;
    }
}